body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #DDA0DD;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #000000;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    margin: 10px;
}

hr {
    color: DDA0DD;
}

.footer{
    background-color: #DDA0DD;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.git-link {
    text-decoration: none;
    color: #000000;
}

.footer-item {
    color: #000000;
}